@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  text-transform: capitalize;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  vertical-align: middle;
}

nav {
  margin-top: 30px;
}
nav .nav_menu ul li a {
  padding-left: 24px !important;
  padding-right: 24px !important;
  font-size: 18px;
  font-weight: 600;
  font-family: "Open Sans", serif;
  color: #29313d;
}
nav .nav_menu ul li a.active {
  color: #ff5538 !important;
}
nav .nav_menu ul li:hover > ul {
  display: block;
}
nav .nav_menu ul li ul li a {
  font-size: 18px;
  font-weight: 600;
  font-family: "Open Sans", serif;
  color: #29313d;
  text-align: center;
}
nav .nav_menu ul li ul li a:hover {
  color: #ff5538 !important;
}
nav .nav_btn a {
  font-size: 18px;
  font-weight: 600;
  font-family: "Nunito", serif;
  padding: 14px 28px;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  color: #fff;
  background-color: #ff5538;
}

#banner {
  padding-top: 293px;
  padding-bottom: 297px;
  background: url(../img/banner01.png) no-repeat center/cover;
}
#banner .ban_head h1 {
  font-size: 64px;
  font-weight: bold;
  font-family: "Poppins", serif;
  color: #29313d;
  padding-bottom: 24px;
  text-transform: capitalize;
}
#banner .ban_head p {
  font-size: 18px;
  font-weight: normal;
  font-family: "Nunito", serif;
  color: #29313d;
  padding: 0 100px 44px;
  text-transform: capitalize;
  margin-bottom: 0;
}
#banner .ban_head .ban_btns a {
  font-size: 18px;
  font-weight: 600;
  font-family: "Nunito", serif;
  padding: 14px 28px;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border: 1px solid #ff5538;
  color: #ff5538;
}
#banner .ban_head .ban_btns a:hover {
  background-color: #ff5538;
  color: #fff;
}

#banner_card {
  margin-top: -160px;
}
#banner_card .ban_card .ban_inner {
  background-color: #fff;
  padding: 40px 20px 40px 30px;
}
#banner_card .ban_card .ban_inner img {
  padding-bottom: 34px;
}
#banner_card .ban_card .ban_inner h3 {
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", serif;
  color: #29313d;
  padding-bottom: 16px;
  text-transform: capitalize;
}
#banner_card .ban_card .ban_inner p {
  font-size: 18px;
  font-weight: normal;
  font-family: "Nunito", serif;
  color: #29313d;
  text-transform: capitalize;
}

#digital {
  margin-top: 82px;
}
#digital .digi_head {
  padding-bottom: 7px;
}
#digital .digi_head h6 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", serif;
  color: #ff5538;
  text-transform: capitalize;
  padding-bottom: 10px;
}
#digital .digi_head h2 {
  font-size: 48px;
  font-weight: 600;
  font-family: "Poppins", serif;
  color: #29313d;
  text-transform: capitalize;
}
#digital .digi_body {
  padding: 200px 0;
  background: url(../img/digital_bg.png) no-repeat center/cover;
}
#digital .digi_body h3 {
  font-size: 36px;
  font-weight: 600;
  font-family: "Poppins", serif;
  color: #29313d;
  padding-bottom: 20px;
  text-transform: capitalize;
  padding-right: 50px;
}
#digital .digi_body p {
  font-size: 18px;
  font-weight: normal;
  font-family: "Nunito", serif;
  color: #29313d;
  text-transform: capitalize;
  padding-bottom: 48px;
  padding-right: 150px;
}
#digital .digi_body a {
  font-size: 18px;
  font-weight: 600;
  font-family: "Nunito", serif;
  padding: 14px 28px;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  color: #fff;
  background-color: #ff5538;
}

#work {
  padding-top: 171px;
  padding-bottom: 120px;
}
#work .work_head {
  padding-bottom: 60px;
}
#work .work_head h6 {
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins", serif;
  color: #ff5538;
  padding-bottom: 10px;
  text-transform: capitalize;
}
#work .work_head h2 {
  font-size: 48px;
  font-weight: 600;
  font-family: "Poppins", serif;
  color: #29313d;
  text-transform: capitalize;
}
#work .work_head a {
  font-size: 18px;
  font-weight: 600;
  font-family: "Nunito", serif;
  padding: 14px 28px;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  color: #ff5538;
  border: 1px solid #ff5538;
}
#work .work_body .card {
  border: none;
  box-shadow: 0px 0px 5px 0px rgb(245, 242, 245);
}
#work .work_body h5 {
  font-size: 28px;
  font-weight: 600;
  font-family: "Poppins", serif;
  color: #29313d;
  text-transform: capitalize;
}
#work .work_body a {
  font-size: 18px;
  font-weight: 500;
  font-family: "Nunito", serif;
  color: #ff5538;
}

#work_count {
  padding: 120px 0;
  background: url(../img/work_count_bg.png) no-repeat center/cover;
}
#work_count .work_coount_inner {
  padding: 74px 60px;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgb(245, 242, 245);
}
#work_count .work_coount_inner h5 {
  font-size: 40px;
  font-weight: 600;
  font-family: "Poppins", serif;
  color: #29313d;
  padding-bottom: 8px;
}
#work_count .work_coount_inner p {
  font-size: 16px;
  font-weight: normal;
  font-family: "Nunito", serif;
  color: #29313d;
}
#work_count .work_count_body {
  padding-left: 48px;
}
#work_count .work_count_body h2 {
  font-size: 48px;
  font-weight: 600;
  font-family: "Poppins", serif;
  color: #29313d;
  padding-bottom: 20px;
}
#work_count .work_count_body p {
  font-size: 18px;
  font-weight: normal;
  font-family: "Nunito", serif;
  color: #29313d;
  padding-bottom: 40px;
}
#work_count .work_count_body a {
  font-size: 18px;
  font-weight: 600;
  font-family: "Nunito", serif;
  padding: 14px 28px;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  background-color: #ff5538;
  color: #fff;
}

#trust {
  padding: 120px 0;
}
#trust .trust_head {
  padding-bottom: 60px;
}
#trust .trust_head h2 {
  font-size: 48px;
  font-weight: 600;
  font-family: "Poppins", serif;
  color: #29313d;
  text-transform: capitalize;
}
#trust .card {
  border: none;
}
#trust .card .card-body {
  padding: 20px 0;
  background-color: #fdf9f8;
}

#customer {
  padding: 120px 0;
  background-color: #fdf9f8;
}
#customer .customer_txt h3 {
  font-size: 48px;
  font-weight: 600;
  font-family: "Poppins", serif;
  color: #29313d;
  padding-bottom: 60px;
}
#customer .customer_txt .cus_pic {
  padding-bottom: 60px;
}
#customer .customer_txt p {
  font-size: 20px;
  font-weight: normal;
  font-family: "Nunito", serif;
  color: #29313d;
  padding-bottom: 60px;
}
#customer .customer_txt .cus_btn h3 {
  font-size: 36px;
  font-weight: 600;
  font-family: "Open Sans", serif;
  color: #29313d;
  padding-bottom: 0;
}
#customer .customer_txt .cus_btn i {
  padding: 20px;
  background-color: #ffddd7;
  border-radius: 10px;
  color: #130f26;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#customer .customer_txt .cus_btn i:hover {
  background-color: #ff5538;
  color: #fff;
}

#about_ban {
  position: relative;
  padding-top: 208px;
  padding-bottom: 120px;
  background-color: #fbf3f0;
}
#about_ban .vertical_text {
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 32px;
  font-weight: bold;
  font-family: "Poppins", serif;
  color: rgba(41, 49, 61, 0.201);
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
#about_ban .about_ban_head {
  padding-bottom: 20px;
}
#about_ban .about_ban_head a {
  font-size: 24px;
  font-weight: normal;
  font-family: "Nunito", serif;
  color: #29313d;
}
#about_ban .about_ban_head i {
  padding: 0 4px;
}
#about_ban .about_ban_body h1 {
  font-size: 58px;
  font-weight: bold;
  font-family: "Poppins", serif;
  color: #29313d;
}
#about_ban .about_ban_txt {
  margin-left: 30px;
}
#about_ban .about_ban_txt p {
  position: relative;
  font-size: 18px;
  font-weight: normal;
  font-family: "Nunito", serif;
  color: #29313d;
}
#about_ban .about_ban_txt p::after {
  position: absolute;
  content: "";
  top: 0;
  left: -20px;
  width: 2px;
  height: 100%;
  background-color: #29313d;
}

#about_trust {
  padding: 120px 0 180px;
}
#about_trust .trust_head {
  padding-bottom: 60px;
}
#about_trust .trust_head h2 {
  font-size: 48px;
  font-weight: 600;
  font-family: "Poppins", serif;
  color: #29313d;
  text-transform: capitalize;
}
#about_trust .card {
  border: none;
}
#about_trust .card .card-body {
  padding: 20px 0;
  background-color: #fdf9f8;
}

#about_feature {
  position: relative;
  background-color: #fcf5f3;
}
#about_feature .box_top_left {
  position: absolute;
  top: -56px;
  left: 0;
  width: 50%;
  height: 57%;
}
#about_feature .box_top_left img {
  width: 100%;
  height: 100%;
}
#about_feature .box_bottom_right {
  position: absolute;
  right: 0;
  bottom: -62px;
  width: 50%;
  height: 57%;
}
#about_feature .box_bottom_right img {
  width: 100%;
  height: 100%;
}
#about_feature .about_fea_body {
  padding: 100px 0;
}
#about_feature .about_fea_body h3 {
  font-size: 32px;
  font-weight: 600;
  font-family: "Poppins", serif;
  color: #000;
  padding-bottom: 20px;
}
#about_feature .about_fea_body p {
  font-size: 18px;
  font-weight: normal;
  font-family: "Nunito", serif;
  color: #29313d;
}
#about_work {
  padding: 186px 0 120px;
}
#about_work .about_work_head {
  padding-bottom: 100px;
}
#about_work .about_work_head h2 {
  font-size: 48px;
  font-weight: 600;
  font-family: "Poppins", serif;
  color: #29313d;
}
#about_work .about_work_body .card {
  border: none;
}
#about_work .about_work_body img {
  padding-bottom: 38px;
}
#about_work .about_work_body h5 {
  font-size: 26px;
  font-weight: 600;
  font-family: "Poppins", serif;
  color: #29313d;
  padding-bottom: 16px;
  margin-bottom: 0;
}
#about_work .about_work_body p {
  font-size: 16px;
  font-weight: normal;
  font-family: "Nunito", serif;
  color: #29313d;
  margin-bottom: 0;
}

#about_work_count {
  padding: 120px 0;
  background-color: #fdf9f8;
}
#about_work_count .about_wo_count_body {
  padding: 74px 60px;
  background-color: #fff;
}
#about_work_count .about_wo_count_body h5 {
  font-size: 40px;
  font-weight: 600;
  font-family: "Poppins", serif;
  color: #29313d;
  padding-bottom: 8px;
}
#about_work_count .about_wo_count_body p {
  font-size: 18px;
  font-weight: normal;
  font-family: "Nunito", serif;
  color: #29313d;
}
#about_work_count .about_wo_count_txt {
  padding-left: 48px;
}
#about_work_count .about_wo_count_txt h2 {
  font-size: 48px;
  font-weight: 600;
  font-family: "Poppins", serif;
  color: #29313d;
  padding-bottom: 20px;
}
#about_work_count .about_wo_count_txt p {
  font-size: 18px;
  font-weight: normal;
  font-family: "Nunito", serif;
  color: #29313d;
  padding-bottom: 40px;
  padding-right: 20px;
}
#about_work_count .about_wo_count_txt a {
  font-size: 18px;
  font-weight: 600;
  font-family: "Nunito", serif;
  padding: 14px 28px;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  color: #fff;
  background-color: #ff5538;
}

#about_team {
  background-color: #edf3f7;
  padding: 80px 0 221px;
}
#about_team .about_team_head h6 {
  font-size: 20px;
  font-weight: 600;
  font-weight: "Poppins", serif;
  color: #fd5f36;
  padding-bottom: 8px;
  text-transform: uppercase;
}
#about_team .about_team_head h2 {
  font-size: 48px;
  font-weight: 600;
  font-family: "Poppins", serif;
  color: #29313d;
}

#about_team_body {
  margin: -171px 0 120px;
}
#about_team_body .about_team_body .card {
  position: relative;
  height: 374px;
  width: 100%;
  background-color: #c4c4c4;
  border-style: none;
}
#about_team_body .about_team_body .card .circle_social {
  position: absolute;
  right: 30;
  bottom: 76;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
#about_team_body .about_team_body .card .circle_social i {
  color: #5b5f77;
  padding: 12px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#about_team_body .about_team_body .card .card-body {
  height: 100%;
  padding: 0;
}
#about_team_body .about_team_body .card .card-body .row {
  width: 100%;
  margin-bottom: -20px;
}
#about_team_body .about_team_body .card .card-body .team_info {
  padding: 22px 30px 22px 56px;
  background-color: #fff;
  border-top-right-radius: 10px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#about_team_body .about_team_body .card .card-body .team_info h5 {
  position: relative;
  font-size: 17px;
  font-weight: 600;
  padding-right: 0;
  font-family: "Poppins", serif;
  color: #30344e;
  padding-bottom: 6px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#about_team_body .about_team_body .card .card-body .team_info h5::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 32px;
  top: 10px;
  left: -40px;
  background-color: #52c5b6;
  border-radius: 10px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#about_team_body .about_team_body .card .card-body .team_info h6 {
  font-size: 14px;
  font-weight: normal;
  font-family: "Inter", sans-serif;
  color: #5b5f77;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#about_team_body .about_team_body .card .card-body .team_info:hover {
  background-color: #fd5f36;
}
#about_team_body .about_team_body .card .card-body .team_info:hover h5, #about_team_body .about_team_body .card .card-body .team_info:hover h6 {
  color: #fff;
}
#about_team_body .about_team_body .card .card-body .team_info:hover h5::after {
  background-color: #fff;
}
#about_team_body .about_team_body .card .card-body .circle_btn {
  position: relative;
  margin-top: 11px;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: #fff;
  transition: 0.5s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
#about_team_body .about_team_body .card .card-body .circle_btn i {
  position: absolute;
  color: #5b5f77;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
#about_team_body .about_team_body .card .card-body .circle_btn:hover {
  background-color: #fd5f36;
}
#about_team_body .about_team_body .card .card-body .circle_btn:hover i {
  color: #fff;
}

#contact {
  padding: 100px 0;
  background-color: #ffd7c8;
}
#contact .con_head {
  padding-bottom: 48px;
  border-bottom: 1px solid rgba(41, 49, 61, 0.21);
}
#contact .con_head h6 {
  font-size: 20px;
  font-weight: normal;
  font-family: "Poppins", serif;
  color: #29313d;
  padding-bottom: 7px;
  text-transform: capitalize;
}
#contact .con_head h2 {
  font-size: 48px;
  font-weight: 600;
  font-family: "Poppins", serif;
  color: #29313d;
}
#contact .con_head a {
  font-size: 18px;
  font-weight: 600;
  font-family: "Nunito", serif;
  padding: 14px 28px;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  color: #fff;
  background-color: #ff5538;
}
#contact .con_body {
  padding-top: 24px;
}
#contact .con_body p {
  font-size: 20px;
  font-weight: normal;
  font-family: "Nunito", serif;
  color: #29313d;
}

footer {
  padding-top: 140px;
  padding-bottom: 50px;
}
footer .footer_txt {
  padding-bottom: 80px;
}
footer .footer_txt img {
  padding-bottom: 44px;
}
footer .footer_txt p {
  font-size: 18px;
  font-weight: normal;
  font-family: "Nunito", serif;
  color: #29313d;
  text-transform: capitalize;
}
footer .footer_txt h3 {
  font-size: 24px;
  font-weight: 600;
  font-family: "Open Sans", serif;
  color: #29313d;
  padding-bottom: 48px;
}
footer .footer_txt ul {
  padding-left: 0;
}
footer .footer_txt ul li a {
  font-size: 20px;
  font-weight: 600;
  font-family: "Nunito", serif;
  color: #29313d;
  padding-bottom: 30px;
}
footer .footer_txt ul li:last-child a {
  padding-bottom: 0;
}
footer .copyright p {
  font-size: 18px;
  font-weight: normal;
  font-family: "Nunito", serif;
  color: #29313d;
}
footer .copyright a {
  font-size: 18px;
  font-weight: normal;
  font-family: "Nunito", serif;
  color: #29313d;
}/*# sourceMappingURL=style.css.map */