#about_work {
  padding: 186px 0 120px;
  .about_work_head {
    padding-bottom: 100px;
    h2 {
      font-size: 48px;
      font-weight: 600;
      font-family: $poppins_font;
      color: #29313d;
    }
  }
}
