#about_ban {
  position: relative;
  padding-top: 208px;
  padding-bottom: 120px;
  background-color: #fbf3f0;
  .vertical_text {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 32px;
    font-weight: bold;
    font-family: $poppins_font;
    color: rgba(41, 49, 61, 0.201);
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
  .about_ban_head {
    padding-bottom: 20px;
    a {
      font-size: 24px;
      font-weight: normal;
      font-family: $nunito_font;
      color: #29313d;
    }
    i {
      padding: 0 4px;
    }
  }
  .about_ban_body {
    h1 {
      font-size: 58px;
      font-weight: bold;
      font-family: $poppins_font;
      color: #29313d;
    }
  }
  .about_ban_txt {
    margin-left: 30px;
    p {
      position: relative;
      font-size: 18px;
      font-weight: normal;
      font-family: $nunito_font;
      color: #29313d;
      &::after {
        position: absolute;
        content: "";
        top: 0;
        left: -20px;
        width: 2px;
        height: 100%;
        background-color: #29313d;
      }
    }
  }
}
