footer {
  padding-top: 140px;
  padding-bottom: 50px;
  .footer_txt {
    padding-bottom: 80px;
    img {
      padding-bottom: 44px;
    }
    p {
      font-size: 18px;
      font-weight: normal;
      font-family: $nunito_font;
      color: #29313d;
      text-transform: capitalize;
    }
    h3 {
      font-size: 24px;
      font-weight: 600;
      font-family: $opensans_font;
      color: #29313d;
      padding-bottom: 48px;
    }
    ul {
      padding-left: 0;
      li {
        a {
          font-size: 20px;
          font-weight: 600;
          font-family: $nunito_font;
          color: #29313d;
          padding-bottom: 30px;
        }
        &:last-child a {
          padding-bottom: 0;
        }
      }
    }
  }
  .copyright {
    p {
      font-size: 18px;
      font-weight: normal;
      font-family: $nunito_font;
      color: #29313d;
    }
    a {
      font-size: 18px;
      font-weight: normal;
      font-family: $nunito_font;
      color: #29313d;
    }
  }
}
