#ser_offer {
  padding: 120px 0;
  .head {
    padding-bottom: 60px;
    h2 {
      font-size: 48px;
      font-weight: 600;
      font-family: $poppins_font;
      color: #29313d;
      padding-bottom: 14px;
    }
    p {
      font-size: 18px;
      font-weight: normal;
      font-family: $nunito_font;
      color: #29313d;
    }
  }
  .body {
    .card {
      border: none;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      img {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
      }
    }
    .card-body {
      p {
        font-size: 14px;
        font-weight: 500;
        font-family: $poppins_font;
        color: #29313d;
        padding-bottom: 14px;
        margin-bottom: 0;
      }
      h5 {
        font-size: 28px;
        font-weight: 600;
        font-family: $poppins_font;
        color: #29313d;
      }
    }
  }
}
